.home-search {
  max-width: 600px;
  margin: 20% auto 0 auto;

  input {
    background: #fff;
    border: none;
    @include border-radius(0);
    @include box-shadow(0, 0, 0, 0);
    color: #333;
    font-size: 16px;
    font-weight: 300;
    padding: 20px;

    &:focus {

      @include box-shadow(0, 0, 0, 0);
    }
  }

  button {
    background: $green;
    border: none;
    @include border-radius(0);
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      background: darken(green, 1%);
      color: #fff;
    }
    &:focus {
      @include box-shadow(0, 0, 0, 0);
    }
  }
}

.home-text {
  color: #666;
  display: block;
  font-size: 16px;
  font-weight: 300;
  max-width: 600px;
  margin: 50px auto 0 auto;
  text-align: center;
}
